/**
 * @name Custom Fonts
 * @author I.K. Stuff
 * @authorLink https://github.com/IK-Stuff
 * @description Uses custom fonts I have, but is easily edited. Feel free to change them up! Fonts used are the Minecraft font and Determination Mono and Sans made by Harry Wakamatsu.
*/

/** 
The fonts start here
To know what fonts are what, take a look at the Text Components tab under the Developer Only group
This is assuming you're using vencord, as I'm unsure how it works on BD
Using this through Inspect Element won't do you any harm, but it will reset each time you reload Discord
*/

::placeholder,body,button,input,select,textarea {
    font-family: "Determination Sans", "Determination Mono", "Minecraft", monospace;
    text-rendering: optimizeLegibility
}

:root{
    --font-code: "Determination Mono", "Determination Sans", monospace;
}

body {
    font-family: "Minecraft", monospace;
}

.text-sm\/normal_cf4812 {
    font-family: "Determination Sans";
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400
}

.text-sm\/normal_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.text-lg\/bold_cf4812 {
    font-family: Minecraft;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700
}

.text-lg\/bold_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.text-xs\/normal_cf4812 {
    font-family: "Determination Sans";
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 400
}

.text-xs\/normal_cf4812.fontScaling_cf4812 {
    font-size: .75rem
}

.text-xxs\/normal_cf4812 {
    font-family: "Determination Sans";
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400
}

.text-xxs\/normal_cf4812.fontScaling_cf4812 {
    font-size: .625rem
}

.text-xxs\/medium_cf4812{
    font-family: Determination Mono;
}

.text-xxs\/bold_cf4812{
    font-family: Determination Mono;
}

.heading-sm\/semibold_cf4812 {
    font-family: "Determination Mono", monospace;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 600
}

.heading-sm\/semibold_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.text-sm\/medium_cf4812 {
    font-family: "Determination Sans";
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 500
}

.text-sm\/medium_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.text-xs\/medium_cf4812 {
    font-family: "Determination Mono";
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 500
}

.text-xs\/medium_cf4812.fontScaling_cf4812 {
    font-size: .75rem
}

.text-xs\/semibold_cf4812 {
    font-family: Determination Sans;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 600
}

.text-xs\/semibold_cf4812.fontScaling_cf4812 {
    font-size: .75rem
}

.text-xxs\/semibold_cf4812 {
    font-family: "Determination Mono";
    font-size: 10px;
    line-height: 1.2;
    font-weight: 600
}

.text-xxs\/semibold_cf4812.fontScaling_cf4812 {
    font-size: .625rem
}

.text-sm\/bold_cf4812 {
    font-family: Determination Sans;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 700
}

.text-sm\/bold_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.text-md\/medium_cf4812 {
    font-family: Minecraft;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500
}

.text-md\/medium_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.text-md\/bold_cf4812 {
    font-family: Minecraft;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700
}

.text-md\/bold_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.text-lg\/normal_cf4812 {
    font-family: "Minecraft";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400
}

.text-lg\/normal_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.heading-md\/semibold_cf4812 {
    font-family: "Determination Sans";
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600
}

.heading-md\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.heading-md\/extrabold_cf4812{
    font-family: determination sans;
}

.heading-lg\/normal_cf4812{
    font-family: Minecraft;
}

.heading-lg\/medium_cf4812{
    font-family: Minecraft;
}

.heading-lg\/bold_cf4812 {
    font-family: "Minecraft";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700
}

.heading-lg\/bold_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.heading-lg\/extrabold_cf4812 {
    font-family: Minecraft;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 800
}

.heading-lg\/extrabold_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.heading-xl\/normal_cf4812 {
    font-family: Minecraft;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400
}

.heading-xl\/normal_cf4812.fontScaling_cf4812 {
    font-size: 1.5rem
}

.heading-xl\/medium_cf4812{
    font-family: Minecraft;
}

.heading-xxl\/normal_cf4812{
    font-family: Minecraft;
}

.heading-xxl\/medium_cf4812{
    font-family: Minecraft;
}

.heading-xl\/semibold_cf4812 {
    font-family: Minecraft;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600
}

.heading-xl\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 1.5rem
}

.heading-xl\/extrabold_cf4812 {
    font-family: "Minecraft";
    font-size: 24px;
    line-height: 1.25;
    font-weight: 800
}

.heading-xl\/extrabold_cf4812.fontScaling_cf4812 {
    font-size: 1.5rem
}

.heading-xl\/bold_cf4812 {
    font-family: "Minecraft";
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700
}

.heading-xl\/bold_cf4812.fontScaling_cf4812 {
    font-size: 1.5rem
}

.text-lg\/medium_cf4812 {
    font-family: "Minecraft", monospace;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500
}

.text-lg\/medium_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.text-xs\/bold_cf4812 {
    font-family: Determination Mono;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700
}

.text-xs\/bold_cf4812.fontScaling_cf4812 {
    font-size: .75rem
}

.heading-sm\/medium_cf4812 {
    font-family: Determination Mono;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 500
}

.heading-sm\/medium_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.heading-xxl\/semibold_cf4812 {
    font-family: Minecraft;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600
}

.heading-xxl\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 2rem
}

.heading-xxl\/bold_cf4812 {
    font-family: Minecraft;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700
}

.heading-xxl\/bold_cf4812.fontScaling_cf4812 {
    font-size: 2rem
}

.heading-xxl\/extrabold_cf4812 {
    font-family: "Minecraft";
    font-size: 32px;
    line-height: 1.25;
    font-weight: 800
}

.heading-xxl\/extrabold_cf4812.fontScaling_cf4812 {
    font-size: 2rem
}

.heading-md\/bold_cf4812 {
    font-family: Determination Sans;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700
}

.heading-md\/bold_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.heading-lg\/semibold_cf4812 {
    font-family: Determination Mono;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600
}

.heading-lg\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.display-md_cf4812 {
    font-family: Minecraft;
    font-size: 34px;
    line-height: 1.0588235294117647;
    font-weight: 800
}

.display-md_cf4812.fontScaling_cf4812 {
    font-size: 2.125rem
}

.display-lg_cf4812 {
    font-family: "Minecraft";
    font-size: 44px;
    line-height: .9545454545454546;
    font-weight: 800
}

.display-lg_cf4812.fontScaling_cf4812 {
    font-size: 2.75rem
}

.eyebrow_a7acae {
    font-family: "Determination Sans";
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em
}

.eyebrow_a7acae.fontScaling_a7acae {
    font-size: .75rem
}

.text-lg\/semibold_cf4812 {
    font-family: Minecraft;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600
}

.text-lg\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 1.25rem
}

.seeAllPerksButton_ca1a02 {
    font-family: Determination Mono;
    font-weight: 400;
    font-size: 14px;
    background: var(--background-floating);
    box-shadow: 0 12px 36px 0 var(--opacity-black-16);
    color: var(--text-normal);
    border-radius: 4px;
    padding: 8px 8px 8px 16px
}

.seeAllPerksButton_ca1a02:hover {
    background: linear-gradient(120deg,var(--premium-tier-2-purple-for-gradients) 20%,var(--premium-tier-2-purple-for-gradients-2) 50%,var(--premium-tier-2-pink-for-gradients) 80%)
}

.text-md\/normal_cf4812 {
    font-family: Determination Sans;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400
}

.text-md\/normal_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.bar__3b95d {
    font-family: Determination Sans;
}

.eyebrow__2b1f5 {
    font-family: Determination Sans;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em
}

.eyebrow__2b1f5.fontScaling__2b1f5 {
    font-size: .75rem
}

.title_b717a1 {
    flex: 1;
    cursor: default;
    font-family: Minecraft;
}

.h1_b717a1 {
    font-size: 20px;
    line-height: 24px
}

.eyebrow_b717a1 {
    font-family: Determination Mono;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em
}

.eyebrow_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.eyebrow_cf4812 {
    font-family: Determination Mono;
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em
}

.eyebrow_cf4812.fontScaling_cf4812 {
    font-size: .75rem
}

.userTag__1fed1 {
    margin-bottom: 6px;
    font-family: Minecraft;
    color: var(--header-primary);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600
}

.discriminator__1fed1 {
    color: var(--header-secondary)
}

.text__13cf1 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: Determination Mono;
    font-weight: 600
}

.container_a9809a {
    position: relative
}

.text-md\/semibold_cf4812 {
    font-family: Determination Mono;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600
}

.text-md\/semibold_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.userName__0f2e8 {
    color: var(--channels-default);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    font-family: Determination Sans;
    font-size: 14px;
    line-height: 1.28571;
    font-weight: 500;
}

.userName__0f2e8.fontScaling__0f2e8 {
    font-size: 0.875rem;
}

.heading-sm\/normal_cf4812 {
    font-family: Minecraft;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400
}

.heading-sm\/normal_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.heading-sm\/semibold_cf4812 {
    font-family: "Determination Sans", monospace;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 600
}

.heading-sm\/semibold_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.heading-md\/medium_cf4812 {
    font-family: Minecraft;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500
}

.heading-md\/medium_cf4812.fontScaling_cf4812 {
    font-size: 1rem
}

.text-sm\/semibold_cf4812 {
    font-family: Determination Sans;
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 600
}

.text-sm\/semibold_cf4812.fontScaling_cf4812 {
    font-size: .875rem
}

.heading-md\/normal_cf4812{
    font-family: Determination Sans;
}

.heading-sm\/bold_cf4812{
    font-family: Determination Sans;
}

.heading-sm\/extrabold_cf4812{
    font-family: Determination Sans;
}

.redesign\/message-preview\/normal_cf4812{
    font-family: Determination sans;
}

.redesign\/message-preview\/medium_cf4812{
    font-family: Determination Mono;
}

.redesign\/message-preview\/semibold_cf4812{
    font-family: Determination Mono;
}

.redesign\/message-preview\/bold_cf4812{
    font-family: Determination Sans;
}

.redesign\/heading-18\/bold_cf4812{
    font-family: Determination Mono;
}

.redesign\/channel-title\/normal_cf4812{
    font-family: Determination Sans;
}

.redesign\/channel-title\/medium_cf4812{
    font-family: Determination Sans;
}

.redesign\/channel-title\/semibold_cf4812{
    font-family: Determination Sans;
}

.redesign\/channel-title\/bold_cf4812{
    font-family: Determination Sans;
}

.heading-deprecated-12\/normal_cf4812{
    font-family: Determination Sans;
}

.heading-deprecated-12\/medium_cf4812{
    font-family: Determination Sans;
}

.heading-deprecated-12\/semibold_cf4812{
    font-family: Determination Sans;
}

.heading-deprecated-12\/bold_cf4812{
    font-family: Determination Sans;
}

.heading-deprecated-12\/extrabold_cf4812{
    font-family: Determination Sans;
}

.display-sm_cf4812{
    font-family: Minecraft;
}

.channelName__754bd div,.channelName__754bd input {
    font-family: Minecraft;
    font-weight: 600
}

.newWrapper__754bd {
    gap: 12px
}

:root .membersWrap_c8ffbb .members_c8ffbb .container__0f2e8 .infoSection__0f2e8 .badgesContainer__635ed .timestamp__230d2 {
    color: var(--current-card-fg) !important;
    transition: color 0.2s;
    font-weight: 400;
    font-family: Determination Sans;
    font-variant: unset;
    font-variation-settings: unset;
    font-variant-numeric: unset;
    font-feature-settings: unset;
}

.text-sm\/medium__13cf1 {
    font-family: Minecraft;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium__13cf1.fontScaling__13cf1 {
    font-size: .875rem
}

.text-sm\/normal__6ec1a {
    font-family: Determination Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

/**
The fonts end here
Colors also start here
*/

a {
    color: #7289DA;
    cursor: pointer;
    text-decoration: none
}

.anchor_edefb8 {
    color: #7289DA;
    -webkit-text-decoration: var(--link-decoration);
    text-decoration: var(--link-decoration)
}

.markup__75297 a {
    color: #7289DA;
    cursor: pointer;
    -webkit-text-decoration: var(--link-decoration);
    text-decoration: var(--link-decoration);
    word-break: break-word
}

.visual-refresh .selected_b3f026.item_b3f026,.visual-refresh .selected_b3f026.item_b3f026:hover {
    color: #7289DA;
    cursor: default
}

.visual-refresh .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf {
    background-color: #7289DA ;
    border-color: #4E5D94 ;
    color: var(--white)
}



:where(.visual-refresh) .top_b3f026 .item_b3f026.selected_b3f026 {
    color: #7289DA
}

:where(.visual-refresh) .top_b3f026 .item_b3f026.brand_b3f026 {
    --selected-tab-item-color: #7289DA
}

:where(.visual-refresh) .mini_a562c8 .barFill_a562c8,:where(.visual-refresh) .slider_a562c8 .barFill_a562c8 {
    background-color: #7289DA;
    border: 1px solid hsla(0,0%,100%,.1)
}

:where(.visual-refresh) .radioIndicatorChecked__001a7 .refreshIconFill__001a7 {
    fill: #7289DA
}

:where(.visual-refresh).theme-dark .lookLink__201d5.colorLink__201d5,:where(.visual-refresh).theme-dark .lookLink__201d5.colorPrimary__201d5 {
    color: #7289DA
}

:where(.visual-refresh).theme-dark .lookLink__201d5.colorLink__201d5:hover .contents__201d5,:where(.visual-refresh).theme-dark .lookLink__201d5.colorPrimary__201d5:hover .contents__201d5 {
    --button--underline-color: #7289DA
}

.channel__972a0:has(.selected_bf202d) .linkButtonIcon__972a0, .channel__972a0:has(.selected_bf202d) .closeButton__972a0 {
  color: #7289DA;
}

.channel__972a0:has(.selected_bf202d) {
  border-left-color: #7289DA;
  color: var(--button-filled-brand-text);
}

.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,.wrapper__6e9f8:hover .childWrapper__6e9f8 {
    background-color: #7289DA;
    color: var(--white)
}

.botTagRegular__82f07 {
  background: #7289DA;
  color: var(--white);
}

.wrapper_f61d60 {
  background:
rgba(114, 137, 218, 0.24);
  border-radius:
3px;
  color: rgb(144, 255, 167);
  font-weight: 500;
  padding:
0 2px;
  unicode-bidi: plaintext;
}

.interactive:hover {
  background-color: #7289DA;
  color: var(--white-500);
}

.lookFilled__201d5.colorBrand__201d5 {
    background-color: #7289DA;
    color: var(--button-filled-brand-text)
}

.selectedBackground_e681d1 {
    background-color: #7289DA;
}

.card__73069 a {
    color: #7289DA;
}

.containerDefault_c69b6d:has(.modeSelected__2ea32),
.containerDragBefore_c69b6d:has(.modeSelected__2ea32) {
  border-left-color: #7289DA;
  background-color: rgba(78, 93, 148, 0.25);
}

.containerDefault_c69b6d:has(.modeSelected__2ea32) .link__2ea32 svg,
.containerDragBefore_c69b6d:has(.modeSelected__2ea32) .link__2ea32 svg {
  color: #7289DA;
}

.containerDefault_c69b6d:has(.modeSelected__2ea32):hover,
.containerDragBefore_c69b6d:has(.modeSelected__2ea32):hover {
  background-color: rgba(114, 137, 218, 0.25);
}

:root .membersWrap_c8ffbb .members_c8ffbb .container__0f2e8 .infoSection__0f2e8 .badgesContainer__635ed .timestamp__230d2 {
    color: #058B00 !important;
    transition: color 0.2s;
    font-weight: 400;
    font-family: Determination Sans;
    font-variant: unset;
    font-variation-settings: unset;
    font-variant-numeric: unset;
    font-feature-settings: unset;
}

.headerLearnMoreLink__99020 {
    color: #7289DA;
    cursor: pointer
}

.cta__37ae5 {
    color: #7289DA!important;
    display: inline;
    height: auto;
    margin-left: 4px;
    min-height: auto;
    min-width: auto;
    padding: 0
}

.selectionCircle__36dee {
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #7289DA,inset 0 0 0 4px var(--background-primary);
    cursor: default;
    height: calc(100% + 4px);
    left: -2px;
    pointer-events: none;
    position: absolute;
    top: -2px;
    width: calc(100% + 4px)
}

.checkmark__36dee {
  color: #7289DA;
}

.newMessagesBar__0f481 {
  background-color: #7289DA;
  border-radius:
0 0 8px 8px;
  box-shadow: var(--elevation-low);
  height: 32px;
  top: 0;
  z-index: 3;
}

/* Guild Boosting Pink */

.premiumIcon__5d473 {
    color: #71c5e7;
    margin-left: 3px;
}

.guildBoostBadge__5dba5 {
    color: #71c5e7;
    margin-right: 6px;
}

.boostIcon__37ae5 {
    color: #71c5e7;
    margin-right: 4px;
}