/**
 * @name OldCord + Changes
 * @author User Collection
 * @description Collection of fixes and changes to Discord refresh. Credits before each string.
*/



/* Compact / Hide Visual Refresh Title Bar - By Chloe (chloecinders) */

@import url("https://raw.githubusercontent.com/G0d0fninjas/visual-refresh-compact-title-bar/refs/heads/main/desktop.css");

/* Revert Visual Refresh Server List - By Scabau (scattagain) */

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
:root {
    --guildbar-avatar-size: 46px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
}


/* Don't Cover Server List With Panel - By Obsidian (obsidianninja11) */


.visual-refresh section.panels__5e434 {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;
}
  .actionButtons_e131a9 button {
    padding: 0;
  }

  /* GameActivityToggle Fix (delete if you don't use) */
  
  .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    bottom: 0px !important;
    >.buttons__37e49 {
      gap: 0;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  } 

nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
.sidebar__5e434:after {
  display: none;
}

.micButtonParent__37e49>.buttonChevron__37e49 {
  display: none;
}
.micButtonParent__37e49>.micButtonWithMenu__37e49 {
  border-radius: var(--radius-sm);
}

/* BetterFolders fix (delete if you don't use) */


.vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2);
  width: calc(100% - var(--custom-guild-list-width)*2) !important;
  bottom: 0;
}



/* Carti's Collapsible Panel - By carti (prt.scr) */

/**
.panels_5e434 {
  left: var(--space-sm)!important;
  height: 57px!important;
  width: 56px!important;
  border-radius: 30px!important;
  display: flex!important;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.35s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
 &:has(.container_e131a9) {
  border: 1px solid var(--border-normal);
 }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
  
}

.panels_5e434:hover {
  width: 300px!important;
  height: auto!important;
  display: flex!important;
  flex-direction: column;
  border-radius: 15px!important;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123)) ;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  .wrapper_e131a9 {
    height: auto!important;
  }
}
.sidebar_5e434 {
  overflow: visible!important;
}
.container__2637a {
  padding-bottom: 0px!important;
}
.scroller__99e7c {
  margin-bottom: 0px!important;
}
.bottom__7aaec {
  bottom: 0px!important;
}


.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {

  transform: scale(1);
  
  opacity: 1;
}

.visual-refresh .panel__5dec7 {
  display: none;
}

.visual-refresh [class^="panels_"]:hover .panel__5dec7 {
  display: block;
}
*/

/* Revert user area - by @krekevyks1337 (237616896948699136) */
.visual-refresh div[class*="-sidebar"] section[class$="-panels"] {
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
  left: 141px;
  bottom: 0px;
  border-radius: 0px;
  border: none;
}

.visual-refresh nav[class*=-guilds] {
  margin-bottom: unset;
}
/* Padding hotfix - by @her.kiwi (IK_Stuff) */
.e131a99484292a19-container {
padding: 15px;
}