/**
 * @name OldCord + Changes
 * @author User Collection
 * @description Collection of fixes and changes to Discord refresh. Credits before each string.
*/


/*NOTICE: MINOR CHANGES HAVE BEEN MADE TO AT LEAST ONE OF THESE TO FIX SHIT THAT DOES NOT TICKLE MY BRAIN RIGHT, THEY SHOULDN'T DISRUPT YOUR INSTANCE WHATSOEVER*/


/* Compact / Hide Visual Refresh Title Bar - By Chloe (chloecinders) */

@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css");

div.base__5e434 {
  grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

  & > div.content__5e434 {
    z-index: 0;
  }

  & > div.bar_c38106 {
    position: absolute;
    top: var(--vr-header-snippet-top);
    right: anchor(right);
    width: anchor-size(width);
    padding: 0 var(--vr-header-snippet-button-padding) 0 0;
  }
  
  & div.trailing_c38106 {
    background: none;
    border: none;
    height: var(--custom-channel-header-height);
  }
}

:not(:has(div.page__5e434 > div.chat_f75fb0)) div.base__5e434 > div.bar_c38106 {
  right: 0 !important;
}

/* Revert Visual Refresh Server List - By Scabau (scattagain) */

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

/* Adjust padding/size in folder preview */
.folderHeaderSmall__48112 {
  --custom-folder-preview-padding: 4px;
}
.folderPreviewGuildIcon__48112 {
  border-radius: 50% !important;
  font-size: 6px !important; /* Acronym font size. might want to adjust since it changes with different length text. see conversation about it around this message: https://discord.com/channels/1015060230222131221/1354502862390038528/1359845103019229346 */
  line-height: 16px;
}

/* Round and animated server icons */
.blobContainer_e5445c foreignObject:hover,
.blobContainer_e5445c.selected_e5445c foreignObject,
:is([data-list-item-id="guildsnav___home"],
  [data-list-item-id=guildsnav___favorites]
).selected__6e9f8 .childWrapper__6e9f8,
:is([data-list-item-id="guildsnav___create-join-button"],
  [data-list-item-id="guildsnav___guild-discover-button"]
).selected__5bc7e,
.stack_dbd263>div[style="opacity: 1; height: 40px; transform: scale(1);"] .selected__6e9f8>img {
  border-radius: 27% !important;
}
.blobContainer_e5445c foreignObject,
:is([data-list-item-id="guildsnav___home"],
[data-list-item-id=guildsnav___favorites]) .childWrapper__6e9f8,
:is([data-list-item-id="guildsnav___create-join-button"],
[data-list-item-id="guildsnav___guild-discover-button"]) {
  transition: border-radius 0.2s linear;
  border-radius: 75%;
}
.shiftSVG_cc5dd2{
    width: 52px !important;
    height: 52px !important;
    padding: 0px;
}



/* Don't Cover Server List With Panel - By Obsidian (obsidianninja11) */

.visual-refresh section.panels__5e434 {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: border-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }

  /* GameActivityToggle Fix (delete if you don't use) */
   .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    bottom: 0px !important;
    >.buttons__37e49 {
      gap: 0;
    }
    >.avatarWrapper__37e49 {
      min-width: 32px !important;
      >.avatar__37e49 {
        scale: 0.9;
      }
    }
  } 
}
nav.guilds__5e434 {
  margin-bottom: 0 !important;
}
.sidebar__5e434:after {
  display: none;
}

/* BetterFolders fix (delete if you don't use) */
/* .vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
} */

.micButtonParent__37e49>.buttonChevron__37e49 {
  display: none;
}
.micButtonParent__37e49>.micButtonWithMenu__37e49 {
  border-radius: var(--radius-sm);
}

/* BetterFolders fix (delete if you don't use) */


.vc-betterFolders-sidebar~section.panels__5e434 {
  left: calc(var(--custom-guild-list-width)*2);
  width: calc(100% - var(--custom-guild-list-width)*2) !important;
  bottom: 0;
} */



/* Carti's Collapsible Panel - By carti (prt.scr) */

/**
.panels_5e434 {
  left: var(--space-sm)!important;
  height: 57px!important;
  width: 56px!important;
  border-radius: 30px!important;
  display: flex!important;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.35s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
 &:has(.container_e131a9) {
  border: 1px solid var(--border-normal);
 }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
  
}

.panels_5e434:hover {
  width: 300px!important;
  height: auto!important;
  display: flex!important;
  flex-direction: column;
  border-radius: 15px!important;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123)) ;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  .wrapper_e131a9 {
    height: auto!important;
  }
}
.sidebar_5e434 {
  overflow: visible!important;
}
.container__2637a {
  padding-bottom: 0px!important;
}
.scroller__99e7c {
  margin-bottom: 0px!important;
}
.bottom__7aaec {
  bottom: 0px!important;
}


.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {

  transform: scale(1);
  
  opacity: 1;
}

.visual-refresh .panel__5dec7 {
  display: none;
}

.visual-refresh [class^="panels_"]:hover .panel__5dec7 {
  display: block;
}
*/

/* Revert user area - by @krekevyks1337 (237616896948699136) */
div[class^=sidebar_] section[class^=panels_] {
  width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
  left: var(--custom-guild-list-width);
}

/* Panel Spacing Hotfix - by @her.kiwi (Ï.K. §†ÛFF) */

.panels_5e434 {
  --custom-panels-spacing: 1px;
}
